In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
now = datetime.now()
now

datetime.datetime(2019, 7, 17, 20, 5, 42, 165914)

In [3]:
now.year,now.month,now.day

(2019, 7, 17)

In [4]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15,)
delta

datetime.timedelta(days=926, seconds=56700)

In [5]:
delta.seconds

56700

In [6]:
delta.days

926

In [7]:
from datetime import timedelta
start = datetime(2011,7,11)
start + timedelta(12)

datetime.datetime(2011, 7, 23, 0, 0)

In [8]:
start - 2*timedelta(12)

datetime.datetime(2011, 6, 17, 0, 0)

# 字符串和datetime的相互转换

In [9]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d') #M大写和小写输出结果不一致

'2011-01-03'

In [11]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestr = ['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestr]  #年是大写Y其他是小写，

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

# 时间序列基础

In [13]:
from datetime import datetime

In [14]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -1.159918
2011-01-05   -0.340527
2011-01-07    1.659546
2011-01-08    0.689044
2011-01-10    0.020456
2011-01-12   -1.947126
dtype: float64

In [15]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [16]:
ts + ts[::2] #每隔两个取一个

2011-01-02   -2.319836
2011-01-05         NaN
2011-01-07    3.319092
2011-01-08         NaN
2011-01-10    0.040912
2011-01-12         NaN
dtype: float64

In [17]:
ts[::2]

2011-01-02   -1.159918
2011-01-07    1.659546
2011-01-10    0.020456
dtype: float64

In [18]:
ts.index.dtype

dtype('<M8[ns]')

In [19]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

# 索引、选取、子集构造

In [20]:
stamp = ts.index[2]
ts[stamp]

1.659545794663499

In [21]:
ts['1/10/2011']
ts['20110110']

0.020456081288236113

In [22]:
longer_ts = pd.Series(np.random.randn(1000),
                     index = pd.date_range('1/1/2011',periods=1000))
longer_ts

2011-01-01   -1.422076
2011-01-02   -1.021024
2011-01-03   -1.595883
2011-01-04    0.990683
2011-01-05   -1.296350
2011-01-06    0.019826
2011-01-07   -0.288860
2011-01-08    0.547104
2011-01-09    1.293913
2011-01-10   -0.153089
2011-01-11    0.172022
2011-01-12   -0.601811
2011-01-13    0.142556
2011-01-14    0.480378
2011-01-15   -0.167015
2011-01-16   -0.516510
2011-01-17   -1.052911
2011-01-18    0.078201
2011-01-19   -0.673900
2011-01-20   -1.401482
2011-01-21   -0.021655
2011-01-22    1.092616
2011-01-23    0.085378
2011-01-24   -0.563085
2011-01-25   -0.260199
2011-01-26    0.403688
2011-01-27    1.464939
2011-01-28   -0.746366
2011-01-29    1.766572
2011-01-30    0.450581
                ...
2013-08-28    1.550341
2013-08-29   -0.783839
2013-08-30   -1.356523
2013-08-31   -0.201987
2013-09-01    0.636325
2013-09-02    0.468730
2013-09-03    1.163538
2013-09-04    0.134020
2013-09-05    0.207023
2013-09-06    1.884806
2013-09-07    0.210332
2013-09-08    0.751492
2013-09-09   -0.714722
2013-09-10   -0.949788
2013-09-11   -0.182809
2013-09-12    1.191687
2013-09-13   -0.438108
2013-09-14    0.812829
2013-09-15    1.075092
2013-09-16   -0.046965
2013-09-17   -0.708200
2013-09-18   -0.337687
2013-09-19   -0.057516
2013-09-20    0.241163
2013-09-21    0.494650
2013-09-22    0.106675
2013-09-23    0.184047
2013-09-24    0.399876
2013-09-25   -0.611754
2013-09-26   -1.965735
Freq: D, Length: 1000, dtype: float64

In [23]:
longer_ts['2011-05']

2011-05-01    0.048084
2011-05-02   -1.143388
2011-05-03    0.560162
2011-05-04    1.694643
2011-05-05    0.930477
2011-05-06   -1.650849
2011-05-07   -0.463508
2011-05-08    0.602564
2011-05-09    0.496121
2011-05-10   -0.565215
2011-05-11    0.754635
2011-05-12    0.591814
2011-05-13   -1.084876
2011-05-14    1.301316
2011-05-15    0.153131
2011-05-16    0.400442
2011-05-17    0.272375
2011-05-18    1.002915
2011-05-19    1.557598
2011-05-20   -0.096259
2011-05-21    1.174318
2011-05-22   -0.965217
2011-05-23    1.140920
2011-05-24    0.504800
2011-05-25    1.663096
2011-05-26   -0.663108
2011-05-27   -0.543256
2011-05-28   -0.871568
2011-05-29    0.338913
2011-05-30    1.657595
2011-05-31   -0.125233
Freq: D, dtype: float64

In [24]:
ts[datetime(2011,1,7):]

2011-01-07    1.659546
2011-01-08    0.689044
2011-01-10    0.020456
2011-01-12   -1.947126
dtype: float64

In [25]:
ts

2011-01-02   -1.159918
2011-01-05   -0.340527
2011-01-07    1.659546
2011-01-08    0.689044
2011-01-10    0.020456
2011-01-12   -1.947126
dtype: float64

In [26]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.659546
2011-01-08    0.689044
2011-01-10    0.020456
dtype: float64

In [27]:
ts.truncate(after='1/9/2011') #不加after输出之后的日期

2011-01-02   -1.159918
2011-01-05   -0.340527
2011-01-07    1.659546
2011-01-08    0.689044
dtype: float64

In [28]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.070994 -1.662558  2.159758 -1.601415
2001-05-09 -1.359654 -1.026320 -2.044998  0.832457
2001-05-16  0.338757 -1.229531 -0.267477 -0.124483
2001-05-23  0.487304 -2.577638 -1.392393 -0.285990
2001-05-30  0.180886 -0.977283  1.474983 -0.158819

# 带有重复索引的时间序列

In [29]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [30]:
dup_ts.index.is_unique

False

In [31]:
dup_ts['1/3/2000']

4

In [32]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [33]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [34]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 日期的范围、频率以及移动

In [35]:
ts

2011-01-02   -1.159918
2011-01-05   -0.340527
2011-01-07    1.659546
2011-01-08    0.689044
2011-01-10    0.020456
2011-01-12   -1.947126
dtype: float64

In [36]:
resampler = ts.resample('D')
ts

2011-01-02   -1.159918
2011-01-05   -0.340527
2011-01-07    1.659546
2011-01-08    0.689044
2011-01-10    0.020456
2011-01-12   -1.947126
dtype: float64

# 生成日期范围

In [37]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [38]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(start='2012-06-01',periods=20)

DatetimeIndex(['2012-06-01', '2012-06-02', '2012-06-03', '2012-06-04',
               '2012-06-05', '2012-06-06', '2012-06-07', '2012-06-08',
               '2012-06-09', '2012-06-10', '2012-06-11', '2012-06-12',
               '2012-06-13', '2012-06-14', '2012-06-15', '2012-06-16',
               '2012-06-17', '2012-06-18', '2012-06-19', '2012-06-20'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range('2000-1-1','2000-12-1',freq='BM') #月末最后一天

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [41]:
pd.date_range('2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

# 频率和日期偏移量

In [42]:
from pandas.tseries.offsets import Hour,Minute

In [43]:
hour = Hour()
hour

In [44]:
four_hours = Hour(4)
four_hours

In [45]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [46]:
Hour(2)+Minute(30)

In [47]:
pd.date_range('2000-01-01',periods=10,freq='2h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 02:30:00',
               '2000-01-01 05:00:00', '2000-01-01 07:30:00',
               '2000-01-01 10:00:00', '2000-01-01 12:30:00',
               '2000-01-01 15:00:00', '2000-01-01 17:30:00',
               '2000-01-01 20:00:00', '2000-01-01 22:30:00'],
              dtype='datetime64[ns]', freq='150T')

# WOM日期

In [48]:
rng = pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI') #week of month
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

# 移动（超前和滞后）数据

In [49]:
ts = pd.Series(np.random.randn(4),
              index = pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31    0.215515
2000-02-29   -0.897627
2000-03-31    0.751802
2000-04-30    0.737561
Freq: M, dtype: float64

In [50]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.215515
2000-04-30   -0.897627
Freq: M, dtype: float64

In [51]:
ts.shift(-2)

2000-01-31    0.751802
2000-02-29    0.737561
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [52]:
ts/ts.shift(1)-1 #什么意思？？

2000-01-31         NaN
2000-02-29   -5.165026
2000-03-31   -1.837544
2000-04-30   -0.018943
Freq: M, dtype: float64

In [53]:
ts.shift()

2000-01-31         NaN
2000-02-29    0.215515
2000-03-31   -0.897627
2000-04-30    0.751802
Freq: M, dtype: float64